<app-search-bar (lookup)="goToFind($event)"></app-search-bar>


@if(!loading){
  <div class="card-container">
    @for (book of books; track book){
    <app-book [book]="book" (click)="selected(book)"></app-book>
    }
  </div>
}
@else {
<div class="spinner-container">
  <app-spinner></app-spinner>
</div>
}

<app-book-add-msg *ngIf="dialogOpen"
                  [title] ="this.title"
                  [book]="this.bookSelected"
                  (addbook)="loadBook($event)"
                  (close)="closeDialog()"></app-book-add-msg>



