<app-search-bar></app-search-bar>
<div class="card-container">
    @for (book of books; track book){
        <app-book
        [book]="book"
        ></app-book>
    }
</div>

<section class="card-container rating-card-without-item-center section-rating">
    @for (iRating of listOfRating; track iRating.user.email) {
        <app-rating [rating]="iRating" ></app-rating>
    }
    <app-rating [rating]="{user: this.user1 , nRating: 4, text: 'Aca hay un texto que habla de una valoracion!!!'}"></app-rating>
</section>
