/*PALETA DE COLORES
DE CLARO A OSCURO
#ffedd6 -> nueva sugerencia
#FFC171 -> fondo
#FCA858
#F98F3E
#F57625
#F25D0B
*/

/*FUNTE*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Roboto+Mono:wght@100;300;400;600;700&display=swap');

/*VARIABLES*/
:root {
    --primary-color: #ffedd6; /*tomar a ejemplo, modificar mas adelante*/
    --secundary-color: #F25D0B;
    --tertiary-color: #F98F3E;
    --white: #F2F2F2;
    --card-background :#fad2b3;
    --light-border: 1px solid #aaa;
    --font-family:  "Cantarell", Arial, sans-serif; /*Definir fuentes*/
    /*espaciado, margenes, etc etc*/
    --max-width-mobile: 400px; 
  }

* {
  margin: 0;
  padding: 0;  
}

html {
  font-size: 16px;
  font-family: var(--font-family);
}

body{
  height: 100vh;
  background-color: var(--primary-color);
}

