/*Aca irian de ser necesarios los estilos del header*/
header {
    background-color: var(--secundary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f2f2f2;
    height: 4rem;
    padding: 0.8rem;    
    font-size: 1rem;
}

.title{
    display: flex;
}

.user{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}

.avatar{
    border-radius: 50%;
    height: 90%;
    border: 3px solid var(--primary-color);;
}