.title, .user, .header-bar{
    display: flex;
}

.header-bar {
    background-color: var(--secundary-color);
    align-items: center;
    justify-content: space-between;
    color: var(--fourth-color);
    height: 10%;
    padding: 0.8rem;    
    font-size: 1rem;
    box-sizing: border-box;
}

.user{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}

.avatar{
    border-radius: 50%;
    height: 90%;
    border: 3px solid var(--primary-color);
}

.menu-hamburgesa{
    display: none;
}

@media (max-width: 768px) {
    .user{
        display: none;
    }
    .menu-hamburgesa{
        display: block;
    }
}

@media (max-width: 480px) {
    .header-bar{
        width: 100%;
        order: 5;
    }
}

/*Tablet*/

/* @media (max-width: 768px) and (min-width: 481px) {
    .user{
        display: none;
    }
    .menu-hamburgesa{
        display: block;
    }
} */

/*Mobile*/

/* @media (max-width: 480px) {
    .header-bar{
        width: 100%;
        order: 5;
    }

    .user{
        display: none;
    }

    .menu-hamburgesa{
        display: block;
    }
} */