body{
   display: grid;
   grid-template-rows: 4.5rem 5rem 5fr 4.5rem;
   grid-template-columns: 1fr;
}

.header{
    grid-row-start: 1;
    grid-row-end: 2;
}

.search{
    grid-row-start: 2;
    grid-row-end: 3;
}

main{
    height: auto;
}

@media (max-width: 400px) {
    .search{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .header{
        grid-row-start: 4;
        grid-row-end: 5;
    }
}