.profile-main-container .card-container {
    flex-grow: 1;
    margin: 0;
    padding: 2rem 5rem;

    overflow-y: auto;
}

@media (max-width: 768px) and (min-width: 401px) {
    .profile-main-container .card-container {
        grid-template-columns: 50% 50%;
        width: 100%;
        
        overflow-y: visible;
    }
}

/*Mobile*/

@media (max-width: 400px) {
    .profile-main-container .card-container {
        grid-template-columns: 100%;
        width: 100%;
        
        overflow-y: visible;
    }
}