.profile-main-container .card-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 90%;
    
}
.profile-info-container .title-profile{
    margin-left: 4rem;
}

@media (max-width: 768px) and (min-width: 481px) {
    .profile-main-container .card-container {
        justify-content: center;
    }
}

/*Mobile*/

@media (max-width: 480px) {
    .profile-main-container .card-container {
        justify-content: center;
    }
}