<div class="container">
    <app-search-bar (isPrivate)="setPrivate($event)" (lookup)="goToFind($event)"></app-search-bar>
    <div class="card-container">
      @for (recommendation of recommendations; track recommendation) {
        @if(!private || !recommendation.publicIs){
          <app-recom [recommendation]="recommendation" (onDeleteRecom)="onDeleteRecom($event)"></app-recom>
        }
      }
    </div>
    <app-remove-recom *ngIf="dialogOpen" [recommendationId]="recommendationId" (click)="closeDialog()"></app-remove-recom>
</div>
  