:host{
    overflow-y: auto;
}

.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.title-rating{
    width: 70%;
    margin-top: 4%;
    gap: 3%;
    height: 4rem;
    display: flex;
    padding-left: 5%;
    padding-right: 2%;
    display: flex;
    align-items: baseline;
}

.title-rating div{
    padding-top: 2%;
}
.wrapper-rating{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-contain{
    padding: 4rem;
}

.rating-card-without-item-center{
    align-items: start;
}

.btn-reco-detail{
    display: flex;
    justify-content: end;
    margin-right: 15%;
    margin-bottom: 3%;
}

.title-recomendation{
    
    background-color: var(--primary-color);
    font-size: 2.5rem;
    text-align: left;
    align-items: center;
    padding-left: 2.5rem;
    box-sizing: border-box;
}

.books-title{
    width: 70%;
    text-align: left;
    font-size: 1.8rem;
    padding-left: 2.5rem;
}

.recom-description{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    font-size: 1.3rem;
    border-bottom: 5rem, solid, black;
}

.title-reco{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 85%;
}

.title-reco img{
    width: 2.5rem;
    flex: 0;
}

@media (max-width: 768px) and (min-width: 481px) {
    .title-recomendation{
        background-color: var(--primary-color);
        padding-left: 0;
        flex: 1;
    }
}

/*Mobile*/
@media (max-width: 480px) {
    .title-recomendation{
        flex: 1;
        font-size: 2rem;
        background-color: var(--primary-color);
        padding-left: 0;
    }
}


.buttons-container{
    gap: 1rem;
    flex-direction: column;
    align-items: end;
}





.card-container{
    width: 70%;
    grid-template-columns: repeat(3,1fr) ;
    display: grid;
    padding: 0.1rem;
    margin: 2rem auto;
    gap: 2rem 5%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box; 
}


.section-rating {
    align-items: start;
}

@media (max-width:480px ) {
    .card-container{
        grid-template-columns: 1fr ;
        padding: 0;
    }
}
@media (min-width: 481px) and (max-width:768px ) {
    .card-container{
        grid-template-columns: repeat(2,1fr) ;
    }
}

/*Parte de edicion*/
.title-rating{
    width: 70%;
    margin-top: 4%;
    gap: 3%;
    height: 4rem;
    display: flex;
    padding-left: 5%;
    padding-right: 2%;
    display: flex;
    align-items: baseline;
}

.title-rating div{
    padding-top: 2%;
}
.wrapper-rating{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-contain{
    padding: 4rem;
}

.rating-card-without-item-center{
    align-items: start;
}

.btn-reco-detail{
    display: flex;
    justify-content: end;
    margin-right: 15%;
    margin-bottom: 3%;
}

.title-recomendation{
    
    background-color: var(--primary-color);
    font-size: 2.5rem;
    text-align: left;
    align-items: center;
    padding-left: 2.5rem;
    box-sizing: border-box;
}

.books-title{
    width: 70%;
    text-align: left;
    font-size: 1.8rem;
    padding-left: 2.5rem;
}

.recom-description{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    font-size: 1.3rem;
    border-bottom: 5rem, solid, black;
}

.title-reco{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 85%;
}

.title-reco img{
    width: 2.5rem;
    flex: 0;
}

@media (max-width: 768px) and (min-width: 481px) {
    .title-recomendation{
        background-color: var(--primary-color);
        padding-left: 0;
        flex: 1;
    }
}

/*Mobile*/
@media (max-width: 480px) {
    .title-recomendation{
        flex: 1;
        font-size: 2rem;
        background-color: var(--primary-color);
        padding-left: 0;
    }
}

.title-edit .form-item, .recom-edit{
    display: flex;
    flex-grow: 1;
} 

.title-edit .form-item {
    flex-direction: column;
}

.recom-edit {
    font-weight: bold;
}

.recom-edit .required-label {
    margin-left: .4rem;
    color: rgb(178, 0, 0);
}

.title-edit input[type=text] {
    margin-top: .5rem;
    width: 90%;
    padding: 6px 10px;
    height: 16px;
    
    font-size: .8rem;

    border: var(--light-border);
    border-radius: 4px
}

.title-edit, .label-check-edit, .wrapper-title-edit{
    display: flex;
    align-items: center;
}

.title-edit{
    padding: 1.4rem;
    justify-content: space-between;
    width: 67%;
    min-width: 60%;
}

.label-check-edit{
    font-size: 0.7rem;
}

.wrapper-title-edit{
    width: 100%;
    flex-direction: column;
}

.title-edit .content-check{
    display: flex;
    justify-content: start;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.recom-description{
    width: 70%;
    text-align: left;
    font-size: 1.3rem;
    border-bottom: 5rem, solid, black;
}

.recom-description textarea{
    width: 100%;
}

@media (max-width: 480px) {
    .title-edit{
        flex-direction: column;
    }

    .title-edit .form-item {
        width: 90%;
    }

    .title-edit .content-check{
        width: 90%;
        margin-top: 0rem;
    }

}