<aside>
    <div class="img-name-aside">
        <img class="avatar" [src]="user.avatar" alt="Avatar del usuario">
        <h3>{{user.displayName}}</h3>
    </div>
    <hr/>
    <nav>
        <a routerLink="info" routerLinkActive="active"><img src="assets/info.svg" alt="Ícono de Información"/> Información</a>
        <a routerLink="friends" routerLinkActive="active"><img src="assets/friends.svg" alt="Ícono de amigos"/> Amigos</a>
        <a routerLink="readbooks" routerLinkActive="active"><img src="assets/book.svg" alt="Ícono de libros leídos"/> Libros leídos</a>
        <a routerLink="bookstoread" routerLinkActive="active"><img src="assets/bookmark.svg" alt="Ícono de libros a leer"/> Libros a leer</a>
        <a routerLink="recomstoevaluate" routerLinkActive="active"><img src="assets/heart.svg" alt="Ícono de recomendaciones a valorar"/> Recomendaciones a valorar</a>
    </nav>
</aside>
<router-outlet></router-outlet>