article.card {
    border: 2px solid var(--secundary-color);
    width: 13rem;
    height: 16rem;
    border-radius: 1.2rem;
    padding: 1rem;
    background-color: var(--card-background);
    box-shadow: 0 0.55rem 0.3rem rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.imageText {
    height: 1.5rem;
    display: flex;
    line-height: 1.5rem;
}

.image-center,.icon-select,
.favorite-icon {
    display: flex;
    justify-content: center;
    transition: transform 0.2s ease; 
    background-color: transparent;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.comment {
    font-size: 0.82rem;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    line-clamp: 1; 
    box-orient: vertical;
}

.comments {
    display: flex;
    flex-direction: column;
    height: 4.6rem;
}

.card-header h3 {
    font-size: 1rem;
}

.description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    box-orient: vertical;
}

h1, h2, h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-recomendation, .header-recomendation-edit, .card-footer {
    display: flex;
    justify-content: space-between;
}

.header-recomendation-edit {
    gap: 1rem;
}

.card-footer {
    padding-top: 0.5rem; /* Añade algo de espacio si es necesario */
    align-items: center; /* Asegura que los íconos y textos estén centrados verticalmente */
    font-size: 0.85rem;
    margin-bottom: 1.6rem;
}


.footer-item {
    display: flex;
    align-items: center;
}

.line-divide {
    border-style: solid;
    color: var(--secundary-color);
}

.btn-transition {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

article.card,
.btn-transition:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

article.card:hover {
    transform: scale(1.05);
}

.icon-select:hover {
    transform: scale(1.2); 
}

@media (max-width: 480px) {
    article.card {
        text-align: left;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    article.card {
        display: block;
    }
}
