<article  class="card">
    <div class="card-header">
        <h3>{{ recommendation.title }}</h3>
        <div class="favorite-icon">
        @if ( isCreator) {
            <button class="icon-select" (click)="removeRecom(recommendation.id)">
            <ng-icon name="bootstrapTrash"></ng-icon>
            </button>
        } @else {
            <ng-icon class="icon-select" name="bootstrapHeart"></ng-icon>
              }
        </div>
    </div>
    <hr class="line-divide">
    <p class="description">{{ recommendation.description }}</p>
    <ul class="comments">
        @for (book of recommendation.books; track book) {
          <li class="comment">
            <ng-icon class="icons" name="bootstrapBookmark"></ng-icon> {{ book.title }}
          </li>
        }
      </ul>
      
    <hr class="line-divide">
    <div class="card-footer">
        <p class="footer-item"><ng-icon name="bootstrapStar"></ng-icon> {{ recommendation.rating }}</p>
        <p class="footer-item"><ng-icon name="bootstrapBook"></ng-icon> {{ recommendation.books_count }}</p>
        <p class="footer-item"><ng-icon name="bootstrapClock"></ng-icon>  {{ recommendation.time_to_read }}</p>
    </div>
    <p (click)="goToDetail(recommendation.id)" class="btn-transition">
        Ver más  <ng-icon name="bootstrapArrowRight"></ng-icon>
    </p>
</article>
<!-- aca tiene que estar solo la card -->