<article  class="card">
    <div class="card-header">
        <h3>{{ recommendation.title }}</h3>
        <div class="favorite-icon">
        @if ( isCreator) {
            <button class="icon-select" (click)="removeRecom(recommendation.id)" >
            <ng-icon name="bootstrapTrash" data-testid="remove"></ng-icon>
            </button>
        } @else {
            <button class="icon-select" (click)="toggleFavorite(recommendation.id)" >
            <ng-icon [name]="isFavorite(recommendation.id)? 'bootstrapHeartFill' : 'bootstrapHeart'" data-testid="favorite"></ng-icon>
            </button>
              }
        </div>
    </div>
    <hr class="line-divide">
    <p class="description">{{ recommendation.description }}</p>
    <ul class="comments">
        @for (book of recommendation.books; track book) {
          <li class="comment">
            <ng-icon class="icons" name="bootstrapBookmark"></ng-icon> {{ book.title }}
          </li>
        }
      </ul>
      
    <hr class="line-divide">
    <div class="card-footer">
        <p class="footer-item"><ng-icon name="bootstrapStar"></ng-icon> {{ ratingAvg | number:'1.2-2'}}</p>
        <p class="footer-item"><ng-icon name="bootstrapBook"></ng-icon> {{ countBooks }}</p>
        <p class="footer-item"><ng-icon name="bootstrapClock"></ng-icon>  {{ recomReadTime | number:'1.2-2'}}</p>
    </div>
    <p (click)="goToDetail(recommendation.id)" class="btn-transition">
        Ver más  <ng-icon name="bootstrapArrowRight"></ng-icon>
    </p>
</article>
<!-- aca tiene que estar solo la card -->