@if (!loading) {
    @if (!noFavorites) {
      <div class="card-container">
        @for (recommendation of favoriteRecoms; track recommendation) {
          <app-recom 
            [recommendation]="recommendation" 
            (onDeleteRecom)="toggleFavorite(recommendation.id)">
          </app-recom>
        }
      </div>
    }
    @else {
      <div class="no-recoms">
        <p>No tienes recomendaciones para valorar!</p>
      </div>
    }
  }
  @else {
    <div class="spinner-container">
      <app-spinner></app-spinner>
    </div>
  }
  