.description{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    margin: 0.2rem;
}
.footer-item {
    display: flex;
    align-items: center;
  }

.line-divide{
 border-style:solid;
 color: var(--secundary-color);
}

.header-recomendation{
    display: flex;
    justify-content: space-between;
}
.header-recomendation-edit{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
