<h2>Información</h2>
<form>
    <h3>General</h3>
    <div class="gral-info-items-container items-container">
        <div class="form-item">
            <label>Apellido <span class="required-label">*</span></label>
            <input
                type="text"
                name="first-name"
                [(ngModel)]="user.firstName"
            />
        </div>
        <div class="form-item">
            <label>Nombre <span class="required-label">*</span></label>
            <input
                type="text"
                name="last-name"
                [(ngModel)]="user.lastName"
            />
        </div>
        <div class="form-item">
            <label>Username <span class="required-label">*</span></label>
            <input
                type="text"
                name="username"
                [(ngModel)]="user.username"
            />
        </div>
        <div class="form-item">
            <label>Fecha de nacimiento <span class="required-label">*</span></label>
            <input
                type="date"
                name="birthday"
                [value]="user.birthday | date: 'yyyy-MM-dd'" (change)="setBirthday($event)"
            />
        </div>
        <div class="form-item">
            <label>Email <span class="required-label">*</span></label>
            <input
                type="email"
                name="email"
                [(ngModel)]="user.email"
            />
        </div>
        <div class="form-item">
            <label>Tiempo de lectura promedio</label>
            <input
                type="number"
                name="read-time"
                [(ngModel)]="user.readTimeMinAvg"
            />
        </div>
    </div>
    <hr/>
    <h3>Forma de lectura</h3>
    <div class="read-mode-items-container items-container">
        <label>
            <input
                type="radio"
                name="read-mode"
                [(ngModel)]="user.readMode"
                [value]="readModes.avgReader"
            />
            <span>Lector promedio</span>
        </label>
        <label>
            <input
                type="radio"
                name="read-mode"
                [(ngModel)]="user.readMode"
                [value]="readModes.anxiousReader"
            />
            <span>Ansioso</span>
        </label>
        <label>
            <input
                type="radio"
                name="read-mode"
                [(ngModel)]="user.readMode"
                [value]="readModes.fanaticReader"
            />
            <span>Fanático</span>
        </label>
        <label>
            <input
                type="radio"
                name="read-mode"
                [(ngModel)]="user.readMode"
                [value]="readModes.recurrentReader"
            />
            <span>Recurrente</span>
        </label>
    </div>
    <hr/>
    <h3>Criterio de búsqueda</h3>
    <div class="search-criteria-items-container items-container">
        <label *ngFor="let criteria of searchCriteria | keyvalue">
            <input
            type="checkbox"
            [checked]="searchCriteria[ criteria.key ].checked"
            (change)="updateSearchCriteria( criteria.key )"
            />
            <span>{{criteria.value.displayName}}</span>
            @if( criteria.value.requireNumberParam ) {
                <label class="max-limit">
                    <span>Límite máximo</span>
                    <input
                    type="number"
                    placeholder="Límite"
                    name="chang-max-limit"
                    value=""
                    />
                </label>
            }
        </label>
    </div>
    <div class="items-container buttons-container">
        <button class="cancel" (click)="cancelUserEdit()">Cancelar</button>
        <button class="accept" (click)="saveUserInfo()">Guardar cambios</button>
    </div>
</form>
