<article class="rating-card ">
    <header class="header-card">
        <div class="header-wapper">
            <img class="avatar" [src]="rating.creator.avatar" alt="Avatar del usuario">
            <div class="name-date">
                <h3>{{rating.creator.firstName}} {{rating.creator.lastName}}</h3>
                <p>{{dateOfCreation | date:'dd-MMM-yyyy'}}</p>
            </div>
        </div>
        <div class="rating">
            <img src="assets/star.svg" alt="Valoración"> <p>{{rating.nRating}}</p>
        </div>
    </header>
    <main class="main-card">
        <p>{{rating.description}}</p>
    </main>
</article>
