<article class="rating-card ">
    <header class="header-card">
        <div class="header-wapper">
            <img class="avatar" [src]="rating.avatar" alt="Avatar del usuario">
            <div class="name-date">
                <h3>{{rating.creatorFullName}}</h3>
                <p>{{rating.createDate}}</p>
            </div>
        </div>
        <div class="rating">
            <img src="assets/star.svg" alt="Valoración"> <p>{{rating.rating}}</p>
        </div>
    </header>
    <main class="main-card">
        <p>{{rating.description}}</p>
    </main>
</article>
